*{
  font-family: "Segoe UI";
}
body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 200px;
    transition: all .4s ease 0s;
    height: auto;
    position: relative;
}

#sidebar-wrapper {
    margin-left: -200px;
    left: 200px;
    width: 200px;
    background-color: #424242;
    box-shadow: 0px 0px 50px #424242;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    float: left;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
}
.logo{
  transition: .3s ease all;
}
.logo img{
  padding-top: 50px;
  padding-bottom: 0px;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
}
#wrapper.toggled {
    padding-left: 200px;
}
#wrapper.toggled #sidebar-wrapper {
    left: 200px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 200px;
    background: #424242;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
  float:center;
  padding-right: 25px;
  padding-top:10px;
}
#main_icon:hover{
  cursor: pointer;
}
ul{
  margin: 0px;
  padding: 0px;
}

ul > li{
  list-style: none;
}
ul li.divider{
  color: #ccc;
  display: block;
  width: 200px;
  padding: 5px;
  padding-left: 25px;
  font-size: 20px;
  text-decoration: none;
}
.divider .abc1{
  padding-left: 60px;

}
ul li.divider li a:hover{
  color: #0fcea3;
}
ul > li > a{
  color: #ccc;
  display: block;
  padding: 5px;
  padding-left: 25px;
  font-size: 20px;
  text-decoration: none;
}

ul > li > a:hover{
  color: #0fcea3;
}
.side-nav{
  padding-top: 50px;
}
.side-nav > ul > li:hover{
  background-color: #4c4b4b;
}
.side-nav > ul > li > a.none{
  text-decoration: none;
  list-style: none;
}
.side-nav ul li a:focus{
  color: #0fcea3;
}
.side-nav > ul > li .submenu{
  position: relative;
}
.dropdown-font {
    min-width: 130px !important;
    overflow-y: hidden !important;
}
.has-sub{
  cursor: pointer;
}
.submenu {
    background-color: #424242;
    margin: 0;
    display: block;
    min-width: 100px;
    max-height: 650px;
    overflow-y: auto;
    opacity: 1;
    z-index: 999;
    will-change: width, height;
}
.submenu li {
  background-color: #424242;
  clear: both;
  cursor: pointer;
  min-height: 50px;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
  text-transform: none;
}
.submenu li:hover, .submenu li.active, .submenu li.selected {
  display: block;
  background-color: #4c4b4b;
}
.submenu li.active.selected {
  display: block;
  background-color: #4c4b4b;
}
.submenu li.divider {
  min-height: 0;
  height: 1px;
}
.submenu li > a, .submenu li > span {
  color: #ccc;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}
.dropdown-font li > a {
    min-width: 120px !important;
    font-size: 14pt !important;
    text-decoration: none;
}
.marginD{
    float: right;
    margin-right: 10px;
}
.navbar-right{
  position: relative;
  padding: 0;
  top: 0;
  right: 0;
  float: right;
}
.navbar-right ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar-right ul li{
  margin: 0;
  position: relative;
  padding-right: 15px;
}
.list-inline{
  float: right;
}
.list-inline > li{
  display: inherit;
  padding-left: 5px;
  padding-right: 5px;
}
.list-inline > li > a{
  color: #424242;
  font-size: 16px;
  width: 150px;
  padding-top: 25px;
  float: center;
}
.list-inline > li > a.none{
  text-decoration: none;
  list-style: none;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}
.edit{
  margin-left: 50px;
  padding-bottom: 30px;
  padding-top: 10px;
}
.footer{
  vertical-align: middle;
}
#scrollTop{
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  background-color: #f4f4f4;
  cursor: pointer;
}
#scrollTop:hover{
  background-color: #d4d4d4;
}
#scrollTop .arr-up{
  padding-left: 15px;
  padding-top: 10px;
}
/*------ADDITIONAL-------*/
.greets{
  padding-bottom: 0;
  height: 75px;
  padding-top: 20px;
}
.upcoming{
  padding-bottom: 20px;
  padding-top: 40px;
}

@media(max-width: 400px){
  .upcoming{
    padding-top: 40px;
  }
}
@media (max-width:768px) {
/*#sidebar-wrapper.active{
    left: 0px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 200px;
    width: 200px;
    transition: all .4s ease 0s;
    height: 100%;
}*/
    #main_icon
    {
      width: 28px;
      height: 33px;
      margin-bottom: 5px;
      margin-top: -10px;
    }
    #menu-toggle{
      margin-left: 0px;
      background-color: #ccc;
    }
/*  .edit{
      padding-top: 70px;
    }*/
    .side-nav{
      padding-top: 20px;
    }
/*---------COPY----------*/
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 200px;
        left: 0;
        transition: all .4s ease 0s;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    .list-inline > li > a{
      color: #424242;
      font-size: 14px;
      width: 105px;
      padding-top: 15px;
      float: center;
    }
    .reservation{
    padding-bottom: 20px;
    padding-top: 10px;
    }
}
